@import 'whitespace-reset.css';

body {
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

.error-message {
  color: red;
}

#control-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  column-gap: 20px;
  row-gap: 10px;
}

#forms-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.contact-card {
  display: inline-block;
}

#contacts-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 30px;
  margin-top: 30px;
}

#tag-form {
  max-height: .2vh;
}

form {
  display: grid;
  grid-template-columns: 1fr;
}