@import 'whitespace-reset.css';

body {
  padding: 20px;
  max-width: 700px;
}

h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.error-message {
  color: red;
}

#control-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  column-gap: 20px;
  row-gap: 10px;
}

#forms-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

#contacts-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 30px;
  margin-top: 30px;
}

input[type="submit"], input[type="button"] {
  margin-top: 10px;
}

.form-field.input, input[type="text"] {
  padding-left: 5px;
}

select[multiple] {
  margin-top: 5px;
  padding-top: 5px;
}

form input[type="text"] {
  margin: 5px 0px;
  height: 1.5em;
}

.btn {
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(104, 126, 174);
  color: white;
  text-align: center;
}

.btn.delete, .btn.cancel {
  background-color: rgb(174, 104, 104);
}

.btn:hover {
  -webkit-filter: brightness(120%);
}

.truncate {
  width: 180px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  display: grid;
  grid-template-columns: 1fr;
}
